body {
    height: 98vh;
    margin: 0;
    padding-top: calc(var(--navbarHeight) + 46px);
    overflow: hidden;
}
section {
    height: calc(100% - var(--navbarHeight) - 34px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 12px;
}
* {
    overflow: hidden;
}
.center-div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 12px;
    width: min(90vw, 700px);
    height: min(80vh, 500px);
    gap: 8px;
}
.center-upper-div {
    display: flex;
    align-items: center;
    width: 95%;
}
textarea {
    color: var(--mainFontColor);
    resize: none;
    width: 95%;
    height: 75%;
    scrollbar-color: var(--backgroundColor) transparent;
    overflow-y: scroll;
}
textarea:focus {
    outline: none;
}
@media (max-width: 750px) {
    section {
        align-items: stretch;
    }
    .center-div {
        height: auto;
    }
}
@media (max-width: 350px) {
    body {
        background-color: var(--elementColor);
    }
    nav {
        margin: 0 !important;
    }
    section {
        padding: 0;
        gap: 0;
    }
    .element {
        border-radius: 0;
        border: 0;
    }
}